* {
    padding: 0;
    margin: 0;
}
body {
    font-size: 18px;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 100%;
}
.clearfix:after {
    content: '';
    display: table;
    clear: both;
}
h1 {
    font-size: 3.5em;
    text-align: center;
    font-weight: 300;
}
p.leadin {
    font-size: 2em;
    text-align: center;
}
h2 {
    font-weight: 300;
    font-size: 3em;
    text-align: center;
    margin-bottom: 1em;
}
/*шапка сайта: лого и меню*/

header.top {
    height: 100px;
    background-image: url(../img/12.png);
    position: relative;
}

.logo {
    margin-left: 20px;
    width: 25%;
    height: 100px;
    background: url(../img/generation%20fe-2.png) no-repeat;
    float: left;
}
ul.menu li {
    float: right;
    display: inline-block;
    margin: 35px 20px;
}
ul.menu li a {
    height: 60px;
    padding: 10px;
    background-color: rgba(0, 198, 24,.7);
    border: 1px solid #008110;
    border-radius: 5px;
    font-weight: 300;
    font-size: 20px;
    color: #008110;
    list-style: none;
    text-decoration: none;
    vertical-align: baseline;
}
ul.menu li a:hover {
    background-color: #008110;
    color: white;
}
header:after {
    content: '';
    width: 100%;
    height: 8px;
    bottom: -10px;
    left: 0;
    position: absolute;
    z-index: 100;
    background: url(../img/header_shadow.png) repeat-x center top;
}

/*WELCOME*/

#welcome {
    width: 100%;
    height: 500px;
    background-image: url(../img/puzzle-1.jpg);
    background-size: cover;
    border-top: 2px solid lightgrey;
}
.intro {
    width: 50%;
    margin: 150px auto;
    padding: 30px;
    background-color: rgba(0, 198, 24,.9);
    color: white;
    border-radius: 15px;
    background-image: url(../img/slashes.png);
}
.intro h1 {
    margin-top: -15px;
    margin-bottom: 10px;
}

/*OUR TEAM*/

#our-team {
    
    height: 1650px;
    background-image: -webkit-linear-gradient(left, lightblue, white);/*тут лажа с цветом. предлагайте*/
    background-image: -moz-linear-gradient(left, lightblue, white);
    background-image: -o-linear-gradient(left, lightblue, white);
    background-image: linear-gradient(left, lightblue, white);
    background-size: cover;
    padding: 2%;
}
.photo {
    float: left;
    margin-right: 50px;
}

/*GOALS*/

#goals {
    padding: 2%;
    height: 1200px;
    background-image: url(../img/section-3.jpg);
    background-size: cover;
}
footer {
    padding: 20px;
    height: 100px;
    background-image: url(../img/12.png);
}