* {
    padding: 0;
    margin: 0;
}
body {
    font-size: 18px;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 100%;
}

.clearfix:after { /*эта штука не дает соседним фоткам залазить на текст */
    content: '';
    display: table;
    clear: both;
}

h2 {
    font-weight: 300;
    font-size: 3em;
    text-align: center;
    margin-bottom: 1em;
    color: #0A6786;
}

/*LOGO & NAVIGATION*/

header.top {
    height: 100px;
    background-image: url(../img/12.png);
    position: relative;
}

.logo { /*при уменьшении размера экрана пропадает часть лого. было бы круто это пофиксить*/
    margin-left: 20px;
    width: 25%;
    height: 100px;
    background: url(../img/generation%20fe.png) no-repeat;
    float: left;
}

ul.nav li {
    display: inline-block;
    float: right;
    margin: 35px 20px;
}

ul.nav li a {
    height: 60px;
    padding: 10px;
    background-color: rgba(36, 145, 209,.7);/* цвет кнопок меню с прозрачностью. предлагайте ваши варианты*/
    border: 1px solid rgb(210,229,240);
    border-radius: 5px;
    font-weight: 100;
    font-size: 20px;
    color: rgb(210,229,240);
    list-style: none;
    text-decoration: none;
    vertical-align: baseline;
}

ul.nav li a:hover {
    background-color: rgb(12, 126, 193);
    color: white;
}

header:after { /* этот блок добавляет тень под главным меню*/
    content: '';
    width: 100%;
    height: 8px;
    bottom: -10px;
    left: 0;
    position: absolute;
    z-index: 100;
    background: url(../img/header_shadow.png) repeat-x center top;
}

footer:before {
    content: '';
    width: 100%;
    height: 8px;
    top: -8px;
    left: 0;
    position: absolute;
    z-index: 100;
    background: url(../img/footer_shadow.png) repeat-x center top;
}

/*WELCOME*/

#welcome { /*в этом блоке настраиваем подложку для первой секции*/
    height: 655px;
    background-image: url(../img/puzzle-1.jpg);
    background-size: cover;
    border-top: 2px solid lightgrey;
}

.intro { /*в этом блоке настраиваем приветственное сообщение в центре экрана*/
    width: 50%;
    margin: 150px auto;
    padding: 30px;
    background-color: rgba(0, 198, 24,.9);/*зеленый цвет нужно поменять на что-то другое*/
    color: white;
    border-radius: 15px;
    background-image: url(../img/slashes.png);
}

.intro h1 { /* текст "ПРИВЕТ"*/
    font-size: 3.5em;
    text-align: center;
    font-weight: 300;
    margin-top: -15px;
    margin-bottom: 10px;
}

p.leadin { /* текст "вы попали на страницу..."*/
    font-size: 2em;
    text-align: center;
}

p.text {
    font-size: 1.3em;
    text-align: center;
    margin-top: 20px;
}
.text a {
    color: white;
    text-decoration: none;
    border-bottom: 2px dotted white;
}
/*OUR TEAM*/

#our-team {
    height: 1650px;
    padding: 2% 5%;
}

.photo { /*здесь прижимаем фото к левому краю экрана и делаем отступ от текста справа*/
    float: left;
    margin-right: 50px;
}

.strengths li {
    list-style-type: circle;
}

.strengths:before {
    content: 'Сильные стороны: ';
    font-style: italic;
    font-weight: bolder;
    color: rgb(203, 0, 109);
}

.profit:before {
    content: 'Чем полезен команде: ';
    font-style: italic;
    font-weight: bolder;
    color: rgb(203, 0, 109);
}

.profit-f:before {
    content: 'Чем полезна команде: ';
    font-style: italic;
    font-weight: bolder;
    color: rgb(203, 0, 109);
}

h3 {
    font-weight: 300;
    font-size: 2em;
    border-bottom: 4px solid black;
    overflow: hidden;
    margin-bottom: 15px;
}

.max h3 {
    border-bottom: 4px solid #60bf06;
    color: #60bf06;
    text-shadow: 1px 1px lightgrey;
}

.maria h3 {
    border-bottom: 4px solid #339ec1;
    color: #339ec1;
    text-shadow: 1px 1px lightgrey;
}

.yuriy h3 {
    border-bottom: 4px solid #c8031a;
    color: #c8031a;
    text-shadow: 1px 1px lightgrey;
}

.natalia h3 {
    border-bottom: 4px solid #f4ed2c;
    color: #f4ed2c;
    text-shadow: 1px 1px lightgrey;
}

.alex h3 {
    border-bottom: 4px solid #9fc2df;
    color: #9fc2df;
    text-shadow: 1px 1px lightgrey;
}

.sergey h3 {
    border-bottom: 4px solid #ff5722;
    color: #ff5722;
    text-shadow: 1px 1px lightgrey;
}

/*GOALS*/

#goals {
    padding: 2%;
    height: 1000px;
    position: relative;
}
.our-goals {
    width: 600px;
    margin: 100px auto;
}
.shadow {
    width: 707px;
    margin: 40px auto;
}
#first_goals1 {
    position: absolute;
    top: 150px;
    left: 20px;
    transition: 1s;
    display: table;
}
#first_goals2 {
    position: absolute;
    top: 150px;
    right: 20px;
    transition: 1s;
    display: table;
}
#first_goals3 {
    position: absolute;
    top: 750px;
    right: 20px;
    transition: 1s;
    display: table;
}
#first_goals4 {
    position: absolute;
    top: 750px;
    left: 20px;
    transition: 1s;
    display: table;
}

#first_goals1 p {
    background: #D84E2C;
    border: 4px solid #C6432C;
}

#first_goals2 p {
    background: #C5DBE7;
    border: 4px solid #98C4DC;
}

#first_goals3 p {
    background: #D2CB41;
    border: 4px solid #B7B03A;
}

#first_goals4 p {
    background: #D2006E;
    border: 4px solid #BA0062;
}

#first_goals1 p,
#first_goals2 p,
#first_goals3 p,
#first_goals4 p {
    font-size: 30px;
    width: 350px;
    height: 120px;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: white;
    background-image: url(../img/slashes.png);
}


/*FOOTER*/

footer {
    padding: 20px;
    height: 100px;
    background-image: url(../img/12.png);
    position: relative;
}
.copy {
    width: 300px;
    margin: 20px auto;
    text-align: center;
    font-size: 1.4em;
}